.section-about{
    padding: 5rem 0;
    font-size: $m;
    font-family: $font-nunito;
    width: 1200px;
    margin: 0 auto;

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        //border-bottom: .7px solid $color-main;
        padding-bottom: 3rem;


    }
    &__text{
        width: 60%;
        font-weight: 200;
        line-height: 40px;
    }
    &__img {
        img {
            width: 300px;
        }

    }

    .horizontal-line {
        width: 120%;
        background-color: $color-main;
        height: .7px;
        transform: translateX(-8%);
    }
}
