.section-about{
    padding: 2rem 0 5rem 0;
    font-size: $sm;
    font-family: $font-main !important;
    max-width: 1200px;
    margin: 0 auto;

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3rem;
    }
    &__text{
        width: 60%;
        font-weight: 200;
        line-height: 40px;
        margin-left: 10px;
        p {
            font-family: $font-main !important;
        }
    }
    &__img {
        img {
            width: 450px;
        }

    }

    .horizontal-line {
        width: 120%;
        background-color: $color-secondary;
        height: .7px;
        transform: translateX(-8%);
    }
}
