.all-posts {
    width: 80%;
    margin: 20px auto;
    height: 65vh;

    h1 {
        text-align: center;
        font-family: $font-main;
        font-weight: 400;
        margin-bottom: 100px;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.pagination-links {
    max-width: 80%;
    width: 30%;
    margin: 100px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: inherit;
        margin: 0 30px;
        width: 200px;
    }

    .disabled {
        color: #718096 !important;
        pointer-events: none;
        cursor: not-allowed;
    }
}
