.footer-wrap {
    width: 100vw;
    background-color: $color-secondary;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-email {
        font-size: $xs;
        color: #fff;
        font-weight: 300;
        margin: 0 !important;
    }
}
