.nav{
    background-color: transparent;
    padding: 0.5rem 0;
    position: relative;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        margin: 1rem 2rem;
    }
    &__logo{
        font-size: $l;
        letter-spacing: 2px;
        user-select: none;
    }
    &__links{
        display: flex;
        justify-content: space-evenly;
        flex-basis: 40%;
        font-size: $sm;
        font-weight: 300;
        font-variant: all-small-caps;
        letter-spacing: 2px;



        & p{
            padding-right: 5px;
            border-right: 2px solid transparent;
            transition: 0.2s all ease-in-out;
        }

        & a {
            text-decoration: none;
            color: #000;
            padding-right: 5px;
            border-right: 2px solid transparent;
            transition: 0.2s all ease-in-out;

        }
        & a:hover{
            color: rgb(63, 173, 118);
            cursor: pointer;
            border-right:2px solid rgb(63, 173, 118);
        }

        & p:hover{
            color: rgb(63, 173, 118);
            cursor: pointer;
            border-right:2px solid rgb(63, 173, 118);
        }
    }
    .icon{
        display: flex;
        position: absolute;
        align-items: center;
        height: 100%;
        right: 1rem;

        i {
            cursor: pointer;
            font-size: 24px;
            transition: 0.8s ease all;
        }
        &__active{
            transform: rotate(90deg);
        }
    }

    &__mobiledrop{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        max-width: 300px;
        height: 100%;
        top: 7rem;
        right: 0;
        font-size: $sm;
        font-variant: all-small-caps;
        background-color: white;

        p {
            padding-bottom: 1rem;
            margin-left:  1rem;
        }
    }
}
