// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'navigation';
@import 'about';
@import 'post';
@import 'footer';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-source;
}

body {
    background-color: rgba(211, 211, 211, 0.1);
}
.app{
    min-height: 100vh;
}
.section-cover-img{
    background-image: url(../img/cover-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    max-width: 100%;

    @media only screen and (max-width: 640px) {
			background: url(../img/cover-img-mob.jpg) no-repeat center bottom;
			height: 100vw; /*mora biti kockica*/
			background-size: 100%;
	}
}
