// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

// Variables
@import 'variables';

// Components
@import 'navigation';
@import 'about';
@import 'post';
@import 'footer';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-source;
    overflow-x: hidden;
}

.app{
    min-height: 100vh;
}
.section-cover-img{
    background-image: url(../img/cover-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    max-width: 100%;

    @media only screen and (max-width: 640px) {
			background: url(../img/cover-img-mob.jpg) no-repeat center bottom;
			height: 100vw; /*mora biti kockica*/
			background-size: 100%;
	}
}
