@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap);
.nav {
  background-color: transparent;
  padding: 0.5rem 0;
  position: relative;
}
.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  max-width: 1800px;
  margin: 1rem auto;
}
.nav__logo {
  font-size: 40px;
  letter-spacing: 2px;
  margin-right: 35px;
  margin-left: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 40%;
  font-size: 25px;
  font-weight: 300;
  font-variant: all-small-caps;
  letter-spacing: 2px;
}
.nav__links p {
  padding-right: 5px;
  border-right: 2px solid transparent;
  transition: 0.2s all ease-in-out;
}
.nav__links a {
  text-decoration: none;
  color: #000;
  padding-right: 5px;
  border-right: 2px solid transparent;
  transition: 0.2s all ease-in-out;
}
.nav__links a:hover {
  color: rgb(63, 173, 118);
  cursor: pointer;
  border-right: 2px solid rgb(63, 173, 118);
}
.nav__links p:hover {
  color: rgb(63, 173, 118);
  cursor: pointer;
  border-right: 2px solid rgb(63, 173, 118);
}
.nav .icon {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  right: 1rem;
}
.nav .icon i {
  cursor: pointer;
  font-size: 24px;
  transition: 0.8s ease all;
}
.nav .icon__active {
  transform: rotate(90deg);
}
.nav__mobiledrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 10%;
  margin-right: -100%;
  top: 4.5rem;
  right: 0;
  font-size: 25px;
  font-variant: all-small-caps;
  background-color: rgba(255, 255, 255, 0.76);
  transition: all ease-in-out 0.5s;
}
.nav__mobiledrop a {
  text-decoration: none;
  color: rgb(63, 173, 118);
  padding-bottom: 1rem;
  margin-left: 1rem;
}
.nav__mobiledrop--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 0 0 10px;
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 30%;
  top: 4.5rem;
  right: 0;
  font-size: 25px;
  font-variant: all-small-caps;
  background-color: rgba(255, 255, 255, 0.76);
  transition: all ease-in-out 0.5s;
}
.nav__mobiledrop--active a {
  text-decoration: none;
  color: rgb(63, 173, 118);
  padding-bottom: 1rem;
  margin-left: 1rem;
}

@media (max-width: 476px) {
  .nav__wrap {
    align-items: flex-end;
  }
  .nav__wrap .nav__logo {
    margin-right: 70px;
  }
}
.section-about {
  padding: 2rem 0 2rem 0;
  font-size: 25px;
  font-family: "Nunito", sans-serif !important;
  max-width: 1800px;
  margin: 0 auto;
}
.section-about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  margin: 0 35px;
}
.section-about__text {
  width: 60%;
  font-weight: 200;
  line-height: 40px;
  margin-left: 10px;
}
.section-about__text .heading {
  font-weight: 500;
}
.section-about__text p {
  font-family: "Nunito", sans-serif;
}
.section-about__img img {
  width: 450px;
}
.section-about .horizontal-line {
  width: 120%;
  background-color: rgba(20, 35, 44, 0.91);
  height: 0.7px;
  transform: translateX(-8%);
}

@media (max-width: 900px) {
  .section-about__img img {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .section-about__text {
    width: 100%;
    font-weight: 200;
    line-height: 40px;
    margin-left: 10px;
  }
  .section-about__text p {
    font-family: "Nunito", sans-serif;
  }
  .section-about__img {
    display: none;
  }
}
.heading {
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 400;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 0 auto;
}

.post {
  flex-basis: 33.333333%;
  margin-bottom: 3.5rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: all ease-in-out 0.3s;
}
.post:hover {
  opacity: 0.7;
}
.post img {
  width: 350px;
  height: 450px;
}
.post span {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-variant: all-small-caps;
  letter-spacing: 2px;
}
.post p {
  font-size: 30px;
  font-weight: 300;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  margin-top: -9px;
}

@media (max-width: 1100px) {
  .post img {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 940px) {
  .post img {
    width: 235px;
    height: 335px;
  }
}
@media (max-width: 768px) {
  .post {
    flex-basis: 50%;
  }
  .post img {
    width: 235px;
    height: 335px;
  }
}
@media (max-width: 500px) {
  .post {
    flex-basis: 100%;
  }
  .post img {
    width: 280px;
    height: 380px;
  }
}
.footer-wrap {
  width: 100vw;
  background-color: rgba(20, 35, 44, 0.91);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrap p {
  font-size: 15px;
  color: #fff;
  margin-left: 2rem;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
}

.section-cover-img {
  background-image: url(/images/cover-img.jpg?ab37a18ed4f2b8aa3e1f8c217aef6bc3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
  max-width: 100%;
}
@media only screen and (max-width: 640px) {
  .section-cover-img {
    background: url(/images/cover-img-mob.jpg?565725d91839908debc04280c4894b1a) no-repeat center bottom;
    height: 100vw;
    /*mora biti kockica*/
    background-size: 100%;
  }
}
